*{
    margin: 0;
    border: 0;
    padding: 0;
}
#cont-nav{
    
}
#nav{
    display: flex;
    list-style: none;
    margin: 0;
    justify-content: space-around;
    align-content: center;
    background-color: black;
    font-size: 1.3em;
}
#nav a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}
#nav a:hover{
    background: rgba(0,0,0,0.5);
    box-sizing: border-box;
    color:whitesmoke;
}
ul li{
    
    width: 25%;
    
    
}
#about{
    border:none;
}

/*DROPDOWN MENU*/

.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
    min-width: 100%;
    overflow: auto;
}
.dropdown-content a{
    color: black;
    padding: 12px 17px;
    text-decoration: none;
    display: block;
}
.dropwodn-content a:hover{
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content{
    display: block;
    background-color: rgba(0,0,0,0.4);
}
.dropdown:hover .dropbtn{
    background-color: rgba(0,0,0,0.8);
}
/*FOOTER*/
footer{
    text-align: center;
    background: black;
    color: white;
}
/*header*/
h1{
    position: absolute;
    top: 12%;
    transform: translateY(-50%);
    left: 0;
    font-size: 150px;
    width: 100%;
    text-align: center;
    text-shadow: 10px 20px 12px rgba(0,0,0,0.5);
}